.text {
  font-weight: 400;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.text--medium {
  font-size: 16px;
  line-height: 24px;
}

.text--large {
  font-size: 18px;
  line-height: 28px;
}
