.progress-bar {
  width: 100%;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media only screen and (max-width: 720px) {
    padding: 24px 0;
  }
}

.progress-bar__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--black-light);
}

.progress-bar__container {
  display: flex;
  align-items: center;
  height: 24px;
  border-radius: 24px;
  background-color: var(--green-light);
  overflow: hidden;
}

.progress-bar__track {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  border-radius: 24px;
  background-color: var(--green);
  min-width: 24px;
  position: relative;
}

.progress-bar__value {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
  color: var(--green-light);
  position: absolute;
  top: 2px;
  right: 16px;
}

.progress-bar__value--small-shift {
  right: 8px;

  @media only screen and (max-width: 720px) {
    color: var(--green);
    right: -32px;
  }
}

.progress-bar__value--right-shift {
  color: var(--green);
  right: -32px;
}
