.accordion {
  border: 1px solid var(--grey-light);
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion-item:not(:first-child) {
  border-top: 1px solid var(--grey-light);
}

.accordion-item__button {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 76px;
  width: 100%;
  padding: 24px;
  gap: 16px;
  color: var(--black-light);
  text-align: left;
}

.accordion-item__button--accent {
  color: var(--accent);
}

.accordion-item__state {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--grey);
  margin-left: auto;
}

.accordion-item__content {
  padding: 16px;
}
